
<div class="row" style="display: flex; flex-direction: row; justify-content: center;">
    <h1>Clients Catalog</h1>
</div>
<div class="row" style="margin-top: 20px;display: flex; flex-direction: row; justify-content: center;">
    <mat-form-field class="formfield">
        <mat-label >Name
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="formfield">
        <mat-label >Last Name
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="formfield">
        <mat-label >Phone number
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="formfield">
        <mat-label >Email Address
        </mat-label>
        <input matInput>
    </mat-form-field>
    <div class="" style="display: flex; flex-direction: row;justify-content: center;">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<mat-divider>

</mat-divider>
<div *ngIf="client">
    <h1>Client Details</h1>
    <p>ID: {{ client.data?.client_id }}</p>
    <p>Name: {{ client.data?.client_Name }}</p>
    <p>Last Name: {{ client.data?.client_LastName }}</p>
    <p>Phone Number: {{ client.data?.client_PhoneNumber }}</p>
    <p>Email: {{ client.data?.client_Email }}</p>
    <p>Register Date: {{ client.data?.client_Register_Date }}</p>
  </div>
