
<div class="row" style="display: flex; flex-direction: row; justify-content: center;">
    <h1>Clients Catalog</h1>
</div>
<div class="row" style="margin-top: 20px;display: flex; flex-direction: row; justify-content: center;">
    <mat-form-field class="formfield">
        <mat-label >Name
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="formfield">
        <mat-label >Last Name
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="formfield">
        <mat-label >Phone number
        </mat-label>
        <input matInput>
    </mat-form-field>
    <mat-form-field class="formfield">
        <mat-label >Email Address
        </mat-label>
        <input matInput>
    </mat-form-field>
    <div class="" style="display: flex; flex-direction: row;justify-content: center;">
        <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<mat-divider>

</mat-divider>

