
<div class="row" style="display: flex; flex-direction: row; justify-content: center;">
    <h1>Clients Catalog</h1>
</div>
<div class="row" style="margin-top: 20px;display: flex; flex-direction: row; justify-content: center;" >
    <form [formGroup]="form" (keyup.enter)="CreateClient()">
        <mat-form-field class="formfield">
            <mat-label >Name
            </mat-label>
            <input matInput formControlName="client_name">
        </mat-form-field>
        <mat-form-field class="formfield">
            <mat-label >Last Name
            </mat-label>
            <input matInput formControlName="client_LastName">
        </mat-form-field>
        <mat-form-field class="formfield">
            <mat-label >Phone number
            </mat-label>
            <input matInput formControlName="client_phoneNumber">
        </mat-form-field>
        <mat-form-field class="formfield">
            <mat-label >Email Address
            </mat-label>
            <input matInput formControlName="client_email">
        </mat-form-field>
        <input type="hidden" formControlName="client_Register_Date">
    </form>
    <div class="" style="display: flex; flex-direction: row;justify-content: center;">
        <button mat-fab (click)="CreateClient()" color="accent" aria-label="Example icon button with a bookmark icon">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<mat-divider>

</mat-divider>

<table mat-table [dataSource]="DataSourceClients"  class="mat-elevation-z8">
    <ng-container matColumnDef="client_id">
        <th mat-header-cell *matHeaderCellDef>Client Id</th>
        <td mat-cell *matCellDef="let item" >{{item.client_id}}</td>
      </ng-container>

      <ng-container matColumnDef="client_Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let item" >{{item.client_Name}}</td>
      </ng-container>

      <ng-container matColumnDef="client_LastName">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let item" >{{item.client_LastName}}</td>
      </ng-container>

      <ng-container matColumnDef="client_Email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let item" >{{item.client_Email}}</td>
      </ng-container>

      <ng-container matColumnDef="client_PhoneNumber">
        <th mat-header-cell *matHeaderCellDef>Phone number</th>
        <td mat-cell *matCellDef="let item" >{{item.client_PhoneNumber}}</td>
      </ng-container>

      <ng-container matColumnDef="client_Register_Date">
        <th mat-header-cell *matHeaderCellDef>Register Date</th>
        <td mat-cell *matCellDef="let item" >{{item.client_Register_Date}}</td>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
